/* UUID: 586455-461667-63513-575270- */ 

html {
    margin: auto;
    width: min-content;
}
body {
    margin: 0;
    width: min-content;
}

            @media (-webkit-min-device-pixel-ratio: 3) {
                .snapp-html5.fc.Screen {
                    zoom: 3;
                }
            }
            
            @media (-webkit-min-device-pixel-ratio: 2) {
                .snapp-html5.fc.Screen {
                    zoom: 2;
                }
            }
            
            @media (-webkit-min-device-pixel-ratio: 1) {
                .snapp-html5.fc.Screen {
                    zoom: 1;
                }
            }
            img {
  border: 0px;
}

button, input, optgroup, select, textarea {
  margin: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

* {
  box-sizing: border-box;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
}

p {
  margin: 0px 0px 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label:empty {
  display: none;
}

.viewport {
  user-select: none;
  width: 100%;
  height: 100%;
}

.element {
  cursor: default;
  position: absolute;
  overflow: hidden;
}

.element * {
  vector-effect: non-scaling-stroke;
}

.wordwrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

body, input, button, select, textarea {
  font-family: proxima_nova, Arial, Helvetica, sans-serif;
}

input, textarea, select {
  font-size: 13px;
  font-weight: lighter;
}

.element.fc.Button .btn {
  border-style: none;
  width: 100%;
  height: 100%;
  font-weight: normal;
  background-size: 100%;
  cursor: inherit;
}

.element.fc.Button .btn.system {
  display: flex;
  align-items: center;
}

.element.fc.Button .btn .img-container {
  height: 100%;
  margin: 0px 5%;
}

.element.fc.Button .btn.system div img {
  width: auto;
  height: 90%;
}

.element.fc.Textbox .textView {
  width: 100%;
  height: 100%;
}

.element.fc.Textbox .textView-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.textView {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  box-shadow: none;
  height: 80%;
  padding-left: 15px;
  border-style: solid;
  outline: none;
}

.element.fc.Label {
  border-style: none;
}

.element.fc.Label .label-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.element.fc.Label .label.wordwrap {
  width: 100%;
  height: 100%;
  position: relative;
  word-break: break-word;
  border-radius: 0px;
}

.element.fc.Label .label {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: normal;
}

.element.fc.Image {
  overflow: hidden;
  text-align: center;
}

.element.fc.Container {
  background-color: rgb(238, 238, 238);
}

.element.fc.ListView {
  background-color: rgb(238, 238, 238);
}

.element.fc.ListViewCell {
  overflow: hidden;
}

.element.fc.Screen {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
  background-size: cover;
  overflow: visible;
}

.snapp-html5.fc.Screen {
  overflow: hidden;
  position: relative;
  margin: auto;
  display: none;
  transform: none !important;
}

@font-face {
  font-family: fjs710826;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs695845;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs925192;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs393774;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs284859;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs970648;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs208144;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs936399;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs592986;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs570001;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs277916;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs242873;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs759708;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs120364;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs513350;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs198778;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs192975;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs491948;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs211535;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs62026;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs289020;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs264671;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs451206;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs994103;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs352216;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs549019;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs426112;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs877453;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs926226;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs862677;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs662718;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs904840;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs732117;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs900625;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs823800;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs642329;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs182487;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs452133;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs475694;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs587564;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs936999;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs105692;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs751408;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs269147;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs7065;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs566642;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs620490;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs193637;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs482784;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs109246;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs666628;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs624946;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs139236;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs947267;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs594059;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs713591;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs292613;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs113315;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs330644;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs551319;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs182117;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs106496;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs323680;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs564717;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs116741;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs233488;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs211531;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs682195;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs306571;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs809445;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs776745;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs417707;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs160272;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs104951;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs763252;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs60368;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs809869;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs630916;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs977769;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs423951;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs692835;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs232357;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs60037;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs837759;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs653024;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs16686;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs945946;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs39421;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs908129;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs594889;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs419425;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs563267;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs726736;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs23883;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs458103;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs916131;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs150589;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs997017;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs341072;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs270987;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs790495;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs796694;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs474408;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs889386;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs243984;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs111398;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs529482;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs745739;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs316049;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs941803;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs280115;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs743279;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs340284;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs885529;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs972359;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs419566;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs754690;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs523558;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs833783;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs415628;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs290195;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs348173;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs861190;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs45679;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs29137;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs898717;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs443998;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs668559;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs511598;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs50161;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs117503;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs400287;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs988036;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs369966;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs133266;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs529331;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs558625;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs948664;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs72624;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs377224;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

#time-date-wrapper {
  font-family: Montserrat, sans-serif;
  color: white;
  display: table;
  margin: 0px auto;
}

#time-date-inner {
  display: table-row;
}

.date-col-left, .date-col-right {
  display: table-cell;
  vertical-align: middle;
}

#date {
  font-size: 8em;
  text-align: right;
  font-weight: 200;
  margin: 0px;
}

#month {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 2rem;
  margin: 5px;
  text-align: left;
}

#day {
  font-weight: 300;
  font-size: 4rem;
  margin: 5px;
  text-align: left;
}

#time-date-wrapper {
  font-family: Montserrat, sans-serif;
  color: white;
  display: table;
  margin: 0px auto;
}

#time-date-inner {
  display: table-row;
}

.date-col-left, .date-col-right {
  display: table-cell;
  vertical-align: middle;
}

#date {
  font-size: 8em;
  text-align: right;
  font-weight: 200;
  margin: 0px;
}

#month {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 2rem;
  margin: 5px;
  text-align: left;
}

#day {
  font-weight: 300;
  font-size: 4rem;
  margin: 5px;
  text-align: left;
}